{% extends "base.html" %}
{% load select_tags %}
{% load forms %}
{% load redirect_button %}
{% block title %}Dodaj zadanie{% endblock %}
{% block content %}

<div class="cloud">
	<h3>Dodaj zadanie</h3>
</div>

<form action="{% url 'problems:add' %}" method="post" id="problem_form">
{% csrf_token %}
</form>

{% select_tags 'problem_form' %}

{% textarea "Treść zadania" 5 "problem_form" "statement" %}
{% textarea "Wskazówki" 2 "problem_form" "hints" %}
{% textarea "Odpowiedź" 1 "problem_form" "answer" %}
{% textarea "Rozwiązanie" 5 "problem_form" "solution" %}
{% textarea "Komentarz do rozwiązania" 2 "problem_form" "solution_comment" %}
{% textarea "Komentarz do nauczycieli" 1 "problem_form" "staff_comment" %}

<div class="cloud">
	{% submit_button "Dodaj zadanie" "problem_form" %}

	{% url 'users:back_from_problem' as back_from_problem %}
	{% redirect_button back_from_problem "Powrót" %}
</div>
{% endblock %}
