{% extends "base.html" %}
{% block title %}Dodaj zadanie{% endblock %}
{% block content %}

<div class="cloud">
	<h3>Dodaj zadanie</h2>
</div>

<form action="{% url 'problems:add' %}" method="post" id="problem_form">
{% csrf_token %}
</form>

<select form="problem_form" id="select-tags" name="tags[]" multiple placeholder="Dodaj tagi">
</select>

<div class="cloud">
		<div class="mdl-textfield mdl-js-textfield">
			<textarea form="problem_form" class="mdl-textfield__input" type="text" rows= "5" name="statement" id="text_statement"></textarea>
			<label class="mdl-textfield__label" for="text_statement">Treść zadania</label>
		</div>
</div>

<div class="cloud">
		<div class="mdl-textfield mdl-js-textfield">
			<textarea form="problem_form" class="mdl-textfield__input" type="text" rows= "2" name="hints" id="text_hints"></textarea>
			<label class="mdl-textfield__label" for="text_hints">Wskazówki</label>
		</div>
</div>

<div class="cloud">
		<div class="mdl-textfield mdl-js-textfield">
			<textarea form="problem_form" class="mdl-textfield__input" type="text" rows= "1" name="answer" id="text_answer"></textarea>
			<label class="mdl-textfield__label" for="text_answer">Odpowiedź</label>
		</div>
</div>

<div class="cloud">
		<div class="mdl-textfield mdl-js-textfield">
			<textarea form="problem_form" class="mdl-textfield__input" type="text" rows= "5" name="solution" id="text_solution"></textarea>
			<label class="mdl-textfield__label" for="text_solution">Rozwiązanie</label>
		</div>
</div>

<div class="cloud">
		<div class="mdl-textfield mdl-js-textfield">
			<textarea form="problem_form" class="mdl-textfield__input" type="text" rows= "2" name="solution_comment" id="text_solution_comment"></textarea>
			<label class="mdl-textfield__label" for="text_solution_comment">Komentarz do rozwiązania</label>
		</div>
</div>

<div class="cloud">
		<div class="mdl-textfield mdl-js-textfield">
			<textarea form="problem_form" class="mdl-textfield__input" type="text" rows= "1" name="staff_comment" id="text_staff_comment"></textarea>
			<label class="mdl-textfield__label" for="text_staff_comment">Komentarz do nauczycieli</label>
		</div>
</div>

<div class="cloud">
	<button type="submit" form="problem_form" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
		Dodaj Zadanie
	</button>

	<a href="{% url 'users:back_from_problem' %}" class="mdl-button mdl-js-button mdl-button--raised">Powrót</a>
</div>

<script>
$(function() {
	var $select = $('#select-tags').selectize({
		plugins: ['remove_button'],
		persist: false,
		options: [
			{% for tag in tag_data %}
				{id: {{ tag.id }}, value: '{{ tag.id }}', text: '{{ tag.name }}', category: '{{ tag.type_id }}'},
			{% endfor %}
		],
		render: {
			item: function(data, escape) {
				return '<span class="mdl-chip mdl-chip--deletable">' +
							'<span class="category-chip category-color-' + escape(data.category) + '"></span>' +
							'<span class="mdl-chip__text">' + escape(data.text) + '</span>' +
						'</span>';
			}
		}
	});
});
</script>

<div class="small-itemlist-space"/>
{% endblock %}
