{% extends "base.html" %}
{% block content %}

<div class="cloud">
	<h3>Dodaj zadanko</h2>
</div>

<form action="{% url 'problems:add' %}" method="post" id="problem_form">
{% csrf_token %}
</form>

<div class="cloud">
		<div class="mdl-textfield mdl-js-textfield">
			<textarea form="problem_form" class="mdl-textfield__input" type="text" rows= "5" name="statement" id="text_statement"></textarea>
			<label class="mdl-textfield__label" for="text_statement">Treść zadania</label>
		</div>
</div>

<div class="cloud">
		<div class="mdl-textfield mdl-js-textfield">
			<textarea form="problem_form" class="mdl-textfield__input" type="text" rows= "2" name="hints" id="text_hints"></textarea>
			<label class="mdl-textfield__label" for="text_hints">Hinty</label>
		</div>
</div>

<div class="cloud">
		<div class="mdl-textfield mdl-js-textfield">
			<textarea form="problem_form" class="mdl-textfield__input" type="text" rows= "1" name="answer" id="text_answer"></textarea>
			<label class="mdl-textfield__label" for="text_answer">Odpowiedź</label>
		</div>
</div>

<div class="cloud">
		<div class="mdl-textfield mdl-js-textfield">
			<textarea form="problem_form" class="mdl-textfield__input" type="text" rows= "5" name="solution" id="text_solution"></textarea>
			<label class="mdl-textfield__label" for="text_solution">Rozwiązanie</label>
		</div>
</div>

<div class="cloud">
	<button type="submit" form="problem_form" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
		Dodaj Zadanie
	</button>

	<a href="{% url 'users:back_from_problem' %}" class="mdl-button mdl-js-button mdl-button--raised">Powrót</a>
</div>

{% endblock %}
