{% extends "base.html" %}
{% load markdown %}
{% block title %}Zadanie {{ problem.id }}.{% endblock %}
{% block content %}

{% load dialog %}
{% url 'problems:details' problem.id as details_url %}
{% url 'problems:delete' problem.id as delete_url %}

<div class="cloud">
	<h3>Zadanie {{ problem.id }}.</h3>

	{% if solved_cnt %}
	<p>Liczba osób, które zrobiły to zadanie: {{ solved_cnt }}</p>
	{% endif %}

	{% load redirect_button %}
	{% url 'users:back_from_problem' as back_from_problem %}
	{% redirect_button back_from_problem "Powrót" %}

	{% if user.is_staff %}
	<a href="{% url 'problems:edit' problem.id %}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Edytuj</a>

	<button id="show-delete" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Usuń</button>
	{% dialog "Czy na pewno chcesz usunąć zadanie?" delete_url "post" "{}" "USUŃ" "Nie" "show-delete" %}
	{% endif %}

	{% if can_see_sol and problem.answer %}
	<button id="show-answer" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Odpowiedź</button>
	{% dialog "Czy na pewno chcesz zobaczyć odpowiedź?" details_url "get" "{'show_answer': 1}" "Tak :(" "Nie" "show-answer" %}
	{% endif %}

	{% if can_see_sol and problem.hints %}
	<button id="show-hints" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Wskazówki</button>
	{% dialog "Czy na pewno chcesz zobaczyć wskazówki?" details_url "get" "{'show_hints': 1}" "Tak :(" "Nie" "show-hints" %}
	{% endif %}

	{% if can_see_sol and problem.solution %}
	<button id="show-solution" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Rozwiązanie</button>
	{% dialog "Czy na pewno chcesz zobaczyć rozwiązanie?" details_url "get" "{'show_solution': 1}" "Tak :(" "Nie" "show-solution" %}
	{% endif %}

	{% if not problem.answer_checker %}
	<form action="{% url 'problems:claim' problem.id %}", method="post", style="display: inline;">
		{% csrf_token %}
		<button type="submit" class="mdl-button mdl-js-button mdl-button--raised">
			{% if solved_task %}Zmień na niezrobione{% else %}Zmień na zrobione{% endif %}
		</button>
	</form>
	{% endif %}

	{% url 'problems:submissions' problem.id as submissions_url %}
	{% redirect_button submissions_url "Wyślij" %}
</div>

<div class="cloud {% if solved_task %}green-background{% endif %}">
	<h6>Treść</h6>
	{% markdown %}{{ problem.statement }}{% endmarkdown %}
	{% if user.is_staff %}
	<div class="chip-container">
	{% for tag in tags %}
		<span onclick="location.href='{% url 'problems:index' %}?tags%5B%5D={{ tag.id }}'" class="mdl-chip">
			<span class="category-chip category-color-{{ tag.type_id }}"></span>
			<span class="mdl-chip__text">{{ tag.name }}</span>
		</span>
	{% endfor %}
	</div>
	{% endif %}
</div>

{% if hints %}
<div class="cloud">
	<h6>Wskazówki</h6>
	{% markdown %}{{ hints }}{% endmarkdown %}
</div>
{% endif %}

{% if answer %}
<div class="cloud">
	<h6>Odpowiedź</h6>
	{% markdown %}{{ answer }}{% endmarkdown %}
</div>
{% endif %}

{% if solution %}
<div class="cloud">
	<h6>Rozwiązanie</h6>
	{% markdown %}{{ solution }}{% endmarkdown %}
</div>
{% endif %}

{% if solution and problem.solution_comment %}
<div class="cloud">
	<h6>Komentarz do rozwiązania</h6>
	{% markdown %}{{ problem.solution_comment }}{% endmarkdown %}
</div>
{% endif %}

{% if request.user.is_staff and problem.staff_comment %}
<div class="cloud">
	<h6>Komentarz do nauczycieli</h6>
	{% markdown %}{{ problem.staff_comment }}{% endmarkdown %}
</div>
{% endif %}

{% if answer_checker %}
{% load answer_element %}
<div class="cloud">
	<h6>Odpowiedzi do systemu</h6>
	<div>
		{% for number in answer_checker %}
		{% answer_element number.0 number.1 number.2 number.3 %}
		{% if not forloop.last %},{% endif %}
		{% endfor %}
	</div>
</div>
{% endif %}

{% endblock %}
