{% extends "base.html" %}

{% block content %}

<div class="button-cloud">
	<h3>Zadanie {{ problem.id }}.</h3>

	<a href="{% url 'problems:edit' problem.id %}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Edytuj</a>

	<button id="show-delete" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Usuń</button>

	<a href="{% url 'problems:index' %}" class="mdl-button mdl-js-button mdl-button--raised">Powrót do zbioru zadań</a>
</div>

<div class="problem-cloud">
	<p><big>Treść: </big>{{ problem.content }}</p>
</div>

<form action="{% url 'problems:delete' problem.id %}" method="post" id="delete_form">
{% csrf_token %}
</form>

<dialog class="mdl-dialog" width=100>
	<h5 class = "mdl-doalog__title">Czy chcesz usunąć zadanie?</h5>
	<div class="mdl-dialog__content">
	</div>
	<div class="mdl-dialog__actions">
		<button form="delete_form" type="submit" class="mdl-button">Usuń</button>
		<button type="button" class="mdl-button close">Anuluj</button>
	</div>
</dialog>

<script>
	var dialog = document.querySelector('dialog');
	dialogPolyfill.registerDialog(dialog)
	var showDialogButton = document.querySelector('#show-delete');
	if(!dialog.showModal) {
		dialogPolyfill.registerDialog(dialog);
	}
	showDialogButton.addEventListener('click', function() {
		dialog.showModal();
	});
	dialog.querySelector('.close').addEventListener('click', function() {
		dialog.close();
	});
</script>

{% endblock %}
