{% extends "base.html" %}
{% block content %}

<div class="cloud">
	<h3>Edycja zadania {{ problem.id }}</h3>

	<button type="submit" form="problem_form" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
		Zapisz zmiany
	</button>

	<a href="{% url 'problems:details' problem.id %}" class="mdl-button mdl-js-button mdl-button--raised">Powrót do zadania</a>
</div>

<div class="cloud">
	<form action="{% url 'problems:edit' problem.id %}" method="post" id="problem_form">
	{% csrf_token %}
		<div class="mdl-textfield mdl-js-textfield">
			<textarea class="mdl-textfield__input" type="text" rows= "5" name="statement" id="text_statement">{{ problem.content }}</textarea>
			<label class="mdl-textfield__label" for="text_statement">Treść zadania</label>
		</div>
	</form>
</div>

<select form="problem_form" id="select-tags" name="tags[]" multiple placeholder="Dodaj tagi">
</select>

<script>
$(function() {
	var $select = $('#select-tags').selectize({
		plugins: ['remove_button'],
		persist: false,
		options: [
			{% for tag, selected in tag_data %}
				{id: {{ tag.id }}, value: '{{ tag.id }}', text: '{{ tag.name }}', category: '{{ tag.type_id }}'},
			{% endfor %}
		],
		render: {
			item: function(data, escape) {
				return '<span class="mdl-chip mdl-chip--contact mdl-chip--deletable">' +
							'<span class="mdl-chip__contact mdl-color--teal"></span>' +
							'<span class="mdl-chip__text">' + escape(data.text) + '</span>' +
						'</span>';
			}
		}
	});

	var selectize = $select[0].selectize;
	{% for tag, selected in tag_data %}
		{% if selected %}
			selectize.addItem({{ tag.id }})
		{% endif %}
	{% endfor %}

});
</script>

<!-- Fixing combined MDL stupidity and height: auto of document -->
<div style="height: 200px"></div>


{% endblock %}
