{% extends "base.html" %}
{% load forms %}
{% load redirect_button %}
{% load select_tags %}
{% block title %}Edytuj zadanie{% endblock %}
{% block content %}

<div class="cloud">
	<h3>Edycja zadania {{ problem.id }}.</h3>

	<form action="{% url 'problems:edit' problem.id %}" method="post" id="form">
	{% csrf_token %}
	</form>

	{% submit_button "Zapisz zmiany" "form" %}
	{% url 'problems:details' problem.id as details_url %}
	{% redirect_button details_url "Powrót" %}
</div>

{% select_tags "form" %}

{% textarea "Treść zadania" 5 "form" "statement" problem.statement %}
{% textarea "Wskazówki" 2 "form" "hints" problem.hints %}
{% textarea "Odpowiedź" 1 "form" "answer" problem.answer %}
{% textarea "Rozwiązanie" 5 "form" "solution" problem.solution %}
{% textarea "Komentarz do rozwiązania" 2 "form" "solution_comment" problem.solution_comment%}
{% textarea "Komentarz do nauczycieli" 1 "form" "staff_comment" problem.staff_comment %}

<div class="cloud">
	{% include "problems/answer_checker.html" %}
</div>

{% endblock %}
