<head>
	<style>
	table, th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	th, td {
	  padding: 5px;
	  text-align: left;    
	}
	</style>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<script>
		window.MathJax = {
			tex: {
				inlineMath: [['$', '$']]
			}
		}
	</script>
</head>

<h1> Zbiór zadań </h1>

{% if problemset %}
	<center><table>
	<tr> 
		<th>id</th>
		<th>treść</th>
		<th>akcje</th>
	</tr>
    {% for problem in problemset %}
	<tr>
		<td>{{ problem.id }}</td>
		<td>{{ problem.content }}</td>
		<td><a href="{% url 'problems:details' problem.id %}">edytuj</a></td>
	</tr>
    {% endfor %}
	</table></center>
{% else %}
	<p>Nie ma dostępnych zadań</p>
{% endif %}

<br><a href="{% url 'problems:add' %}">Dodaj zadanka</a>
