{% extends "base.html" %}

{% block content %}
	<h1> Zbiór zadań </h1>

	{% if problemset %}
		<table>
		<tr> 
			<th>id</th>
			<th>treść</th>
			<th>akcje</th>
		</tr>
		{% for problem in problemset %}
		<tr>
			<td>{{ problem.id }}</td>
			<td>{{ problem.content }}</td>
			<td><a href="{% url 'problems:details' problem.id %}">pokaż</a></td>
		</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>Nie ma dostępnych zadań</p>
	{% endif %}

	<br><a href="{% url 'problems:add' %}">Dodaj zadanka</a>
{% endblock %}
