{% extends "base.html" %}
{% block title %}{% if folder.pretty_name != "/" %}{{ folder.pretty_name }}{% else %}Contesty{% endif %} - {% block subtitle %}{% endblock %}{% endblock %}
{% block content %}

<div class="path-cloud">
	<div class="fix-button-without-margin">
		{% block path-buttons %}
		{% endblock %}
	</div>

	<div class="center-vert">
		<a id="first_page" class="center-vert" href="{% url 'folder:index' 'all' %}">
			<i class="material-icons center-vert">first_page</i>
		</a>
		<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="first_page">Strona główna</div>
		{% for p in parent_paths %}
		{% if p.0 != 'all' %}
		<p>/</p> <a href="{% url 'folder:index' p.0 %}">{{ p.1 }}</a>
		{% endif %}
		{% endfor %}
		{% ifnotequal folder_path 'all' %}
		<a id="back_button" class="center-vert" href="{% url 'folder:index' parent_path %}">
			<i class="material-icons center-vert">chevron_left</i>
		</a>
		<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="back_button">Cofnij</div>
		{% endifnotequal %}
	</div>
</div>

{% block subcontent %}{% endblock %}

{% endblock %}
