{% extends "base.html" %}
{% load dialog %}
{% block title %}{% if folder.pretty_name != "/" %}{{ folder.pretty_name }}{% else %}Contesty{% endif %} - edycja{% endblock %}
{% block content %}

<div class="path-cloud">
	<button id="edit_button" class="mdl-button mdl-js-button mdl-button--icon right-action-button mdl-button--colored" onclick="location.href='{% url 'folder:index' folder_path %}'" type="button">
		<i class="material-icons right-action-button">edit</i>
	</button>
	<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="edit_button">Zakończ edycję</div>

	<div class="center-vert">
		<a id="first_page" class="center-vert" href="{% url 'folder:index' 'all' %}">
			<i class="material-icons center-vert">first_page</i>
		</a>
		<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="first_page">Strona główna</div>
		{% for p in parent_paths %}
		{% if p.0 != 'all' %}
		<p>/</p> <a href="{% url 'folder:index' p.0 %}">{{ p.1 }}</a>
		{% endif %}
		{% endfor %}
		{% ifnotequal folder_path 'all' %}
		<a id="back_button" class="center-vert" href="{% url 'folder:index' parent_path %}">
			<i class="material-icons center-vert">chevron_left</i>
		</a>
		<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="back_button">Cofnij</div>
		{% endifnotequal %}
	</div>
</div>

<div class="cloud">
	<form action="{% url 'folder:edit_folder_name' folder_path %}" method="post">
	{% csrf_token %}
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="pretty_name" id="txt-{{ folder.folder_name }}" value="{{ folder.pretty_name }}">
			<label class="mdl-textfield__label" for="txt-{{ folder.folder_name }}">Edytuj nazwę aktualnego folderu</label>
		</div>
	</form>

	<form action="{% url 'folder:edit_tags' folder_path %}" method="post" id="tags_form" style="display: inline">
	{% csrf_token %}
		<button type="submit" form="tags_form" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
			Zapisz tagi
		</button>
	</form>

	<form action="{% url 'folder:show_solution' folder_path %}" method="post" id="solution_form" style="display: inline">
	{% csrf_token %}
		<button type="submit" form="solution_form" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
			{% if folder.show_solution %}Wyłącz{% else %}Włącz{% endif %} rozwiązania
		</button>
	</form>

	<form action="{% url 'folder:show_stats' folder_path %}" method="post" style="display: inline">
	{% csrf_token %}
		<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
			{% if folder.show_stats %}Wyłącz{% else %}Włącz{% endif %} statystyki
		</button>
	</form>
</div>

{% load select_tags %}
{% select_tags "tags_form" %}

{% for son in sons %}
{% with son_path_prefix|add:son.folder_name as son_path %}
<div class="cloud folder-nonclick-cloud">
	<button id="delete-son-{{ forloop.counter }}" class="mdl-button mdl-js-button mdl-button--icon right-action-button" type="button">
		<i class="material-icons right-action-button">delete_outline</i>
	</button>

	<div class="center-vert">
		<i class="material-icons">arrow_forward_ios</i>
		{{ son.pretty_name }}
	</div>
</div>
{% url 'folder:delete_folder' folder_path as delete_url %}
{% with forloop.counter|stringformat:"i" as string_id %}
{% dialog "Czy na pewno chcesz usunąć folder "|add:son.pretty_name|add:"?" delete_url "post" "{'pretty_name': '"|add:son.pretty_name|add:"'}" "USUŃ" "Anuluj" "delete-son-"|add:string_id %}
{% endwith %}
{% endwith %}
{% endfor %}

<div class="cloud">
	<form action="{% url 'folder:add_folder' folder_path %}" method="post">
	{% csrf_token %}
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="pretty_name" id="txt">
			<label class="mdl-textfield__label" for="txt">Nazwa nowego podfolderu</label>
		</div>
	</form>
</div>

{% for problem in problems %}
<div class="problem-cloud">
	<button class="mdl-button mdl-js-button mdl-button--icon right-action-button" type="button"
		id="delete-problem-{{ forloop.counter }}">
		<i class="material-icons right-action-button">delete_outline</i>
	</button>

	{% ifnotequal forloop.counter0 0 %}
	<form action="{% url 'folder:move_up' folder_path %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="p_id" value="{{ problem.id }}">
		<button type="submit" class="mdl-button mdl-js-button mdl-button--icon right-action-button">
			<i class="material-icons right-action-button">arrow_drop_up</i>
		</button>
	</form>
	{% endifnotequal %}

	<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab problem-cloud-button"
			onclick="location.href='{% url 'problems:details' problem.id %}'" type="button">
		{{ forloop.counter }}</button>
	<p>{{ problem.statement }}</p>
</div>
{% url 'folder:delete_problem' folder_path as delete_url %}
{% with forloop.counter|stringformat:"i" as string_id %}
{% with problem.id|stringformat:"i" as problem_id %}
{% dialog "Czy na pewno chcesz usunąć zadanie?" delete_url "post" "{'p_id': '"|add:problem_id|add:"'}" "USUŃ" "Anuluj" "delete-problem-"|add:string_id %}
{% endwith %}
{% endwith %}
{% endfor %}

<div class="cloud">
	<form action="{% url 'folder:add_problem' folder_path %}" method="post">
	{% csrf_token %}
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="p_id" id="add-txt">
			<label class="mdl-textfield__label" for="add-txt">Dodanie zadania (ID)</label>
		</div>
	</form>
</div>

{% endblock %}
