{% extends "folder/base.html" %}
{% load markdown %}
{% block subtitle %}Zadania{% endblock %}

{% block path-buttons %}
	{% if user.is_staff %}
		<button id="edit_button" class="mdl-button mdl-js-button mdl-button--icon right-action-button" onclick="location.href='{% url 'folder:edit' folder_path %}'" type="button">
			<i class="material-icons right-action-button">edit</i>
		</button>
		<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="edit_button">Edytuj</div>

		<button id="ranking_button" class="mdl-button mdl-js-button mdl-button--icon right-action-button" onclick="location.href='{% url 'folder:ranking' folder_path %}'" type="button">
			<i class="material-icons right-action-button">list</i>
		</button>
		<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="ranking_button">Ranking</div>
	{% endif %}

	<button id="submissions_button" class="mdl-button mdl-js-button mdl-button--icon right-action-button" onclick="location.href='{% url 'folder:submissions' folder_path %}'" type="button">
		<i class="material-icons right-action-button">announcement</i>
	</button>
	<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="submissions_button">Ogłoszenia / Submity</div>
{% endblock %}

{% block subcontent %}

{% if folder.tag_set.all and user.is_staff %}
<div class="cloud">
	<div>
		{% for tag in selected_tags %}
		<span class="mdl-chip">
			<span class="category-chip category-color-{{ tag.type_id }}"></span>
			<span class="mdl-chip__text">{{ tag.name }}</span>
		</span>
		{% endfor %}
	</div>
</div>
{% endif %}

{% for son in sons %}
{% with son_path_prefix|add:son.folder_name as son_path %}
<div class="cloud" style="padding: 0">
	<div class="mdl-button mdl-js-button mdl-js-ripple-effect center-vert"
			onclick="location.href='{% url 'folder:index' son_path %}';" type="button">
		<i class="material-icons no-margin">arrow_forward_ios</i>
		{{ son.pretty_name }}
	</div>
</div>
{% endwith %}
{% endfor %}

{% for problem, solved in problems %}
<div class="cloud {% if solved %}green-background{% endif %} problem-minheight">
	<form action="{% url 'problems:claim' problem.id %}" method="post">
		{% csrf_token %}
		<button id="done_{{ problem.id }}" class="mdl-button mdl-js-button mdl-button--icon right-action-button" type="submit">
			<i class="material-icons right-action-button">done</i>
		</button>
		<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="done_{{ problem.id }}">Zaznacz jako {% if solved %}nie{% endif %}zrobione</div>
		<input type="hidden" name="stay" value="True">
	</form>

	<button id="problem_{{ problem.id }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab problem-button"
			onclick="location.href='{% url 'problems:details' problem.id %}'" type="button">
		{{ forloop.counter }}</button>
	<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="problem_{{ problem.id }}">Strona zadania</div>
	{% markdown %}{{ problem.statement }}{% endmarkdown %}
</div>
{% endfor %}

{% endblock %}

