{% extends "folder/base.html" %}
{% block subtitle %}Ranking{% endblock %}
{% block path-buttons %}
	<button id="ranking_button" class="mdl-button mdl-js-button mdl-button--icon right-action-button mdl-button--colored" onclick="location.href='{% url 'folder:index' folder_path %}'" type="button">
		<i class="material-icons right-action-button">list</i>
	</button>
	<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="ranking_button">Wyjdź z rankingu</div>
{% endblock %}
{% block subcontent %}

<div class="cloud">
	<form action="{% url 'folder:ranking' folder_path %}" method="get" id="tags_form">
		<button type="submit" form="tags_form" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
			Stwórz ranking
		</button>
	</form>
</div>

{% load select_tags %}
{% select_tags "tags_form" %}

<div style="overflow-x:auto;">
	<table class="mdl-data-table mdl-js-data-table">
	<thead>
		<tr>
			<th></th>
			<th></th>
			{% for prefix, p in problem_list %}
			<th class="mdl-data-table__cell--non-numeric border-left"
				colspan={{ p|length }}>{{ prefix }}</td>
			{% endfor %}
		</tr>
		<tr>
			<th>Imię i nazwisko</th>
			<th class="small-table-item">Σ</th>
			{% for prefix, pl in problem_list %}
			{% for p in pl %}
			<th class="small-table-item {% ifequal forloop.counter0 0 %}border-left{% endifequal %}">
				{{ forloop.counter }}
			</th>
			{% endfor %}
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in table %}
		<tr>
			{% for val, add_border_left in row %}
			<th class="small-table-item {% if add_border_left %}border-left{% endif %}">
				{% if forloop.counter0 <= 1 %}
				{{ val }}
				{% else %}
				{% ifequal val True %}
				<i class="material-icons green-text">done</i>
				{% else %}
				<i class="material-icons red-text">clear</i>
				{% endifequal %}
				{% endif %}
			</th>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
	</table>
</div>

{% endblock %}

