{% extends "folder/base.html" %}
{% block subtitle %}Submit{% endblock %}
{% block path-buttons %}
		<button id="submissions_button" class="mdl-button mdl-js-button mdl-button--icon right-action-button mdl-button--colored" onclick="location.href='{% url 'folder:index' folder_path %}'" type="button">
			<i class="material-icons right-action-button">announcement</i>
		</button>
		<div class="mdl-tooltip mdl-tooltip--top" data-mdl-for="submissions_button">Powrót</div>
{% endblock %}
{% block subcontent %}

<div class="cloud">
	<p>Tu możesz zadać pytanie ogólne/organizacyjne lub masowo wysłać rozwiązania. Zalecane jest jednak wysłanie rozwiązania/spytanie się o zadanie poprzez stronę zadania - jeżeli zadanie wspiera automatyczne sprawdzanie, tylko wysyłając na stronie zadania możesz z tego skorzystać.</p>
	{% url 'submissions:details' as form_url %}
	{% include "files/form_files.html" with form_url=form_url %}
</div>
{% include "submissions/thread_list.html" %}

{% endblock %}
