{% extends "base.html" %}
{% block title %}Wyślij rozwiązanie{% endblock %}
{% block content %}

<div class="cloud {% if solved_task %}green-background{% endif %}">
	<div style="float: right;">
		{% url 'problems:details' problem.id as problem_url %}
		{% load redirect_button %}
		{% redirect_button problem_url "Powrót" no_margin=True %}
	</div>
	<h6>Treść</h6>
	{% load markdown %}
	{% markdown %}{{ problem.statement }}{% endmarkdown %}
</div>


<div class="cloud">
	{% if problem.answer_checker %}
		<p>Do tego zadania włączone jest automatyczne sprawdzanie odpowiedzi. Można podać zbiór liczb postaci $\frac{a + b \sqrt{c}}{d}$ dla $a, b, c, d$ będącymi liczbami całkowitymi. Jeżeli odpowiedź jest zbiorem, na przykład $[a, b] \cup (c, d) \cup [e, f) \setminus {g}$, podaj jedynie liczby $a, b, c, d, e, f, g$. Jeżeli to możliwe, umieść również zdjęcie rozwiązania.</p>
		{% include "problems/answer_checker.html" %}
	{% endif %}

	<p>Tutaj możesz zadać pytanie lub podać rozwiązanie do zadania. Dla zaawansowanych: w opisie można używać latexa i markdown.</p>
	{% url 'submissions:details' as form_url %}
	{% include "files/form_files.html" with form_url=form_url %}
</div>

{% include "submissions/thread_list.html" %}

{% endblock %}
