body {
	background-color: #f5f5f5;
}
.main-container {
}

/* cloud */
/* problem-cloud */
/* folder-nonclick-cloud */

.cloud, .problem-cloud, .path-cloud, .selectize-input {
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fff;
	/* 4dp */
	box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
	margin-bottom: 1em;
	width: 100%;
	padding: 0;
	/*min-height: 3.4em;*/
}
.cloud *, .path-cloud * { /* i, p, a */
	text-decoration: none;
	align-self: center;
	margin: 0.1em;
	text-align: left;
}
.path-cloud a, .mdl-menu__item a {
	text-decoration: none;
	color: rgb(139, 195, 74);
}
.mdl-menu__item a {
	width: 100%;
	height: 100%;
}
.cloud a {
	color: rgb(66,66,66);
	text-align: center;
}
.cloud button {
	color: rgb(66,66,66);
}
.cloud p {
	color: #000
}
.cloud h3 {
	padding: 0.5em;
}
.problem-cloud i {
	color: #000
}
.problem-cloud-button {
	/* 2dp */
	box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	font-size: 1em;
	float: left;
	margin: 0.2em;
	margin-right: 1.5em;
	background-color: rgb(236, 236, 236);
}
.cloud p, .problem-cloud p {
	padding: 0.8em;
	margin-bottom: 0;
}
.cloud input, .cloud label, .cloud textarea, .mdl-textfield {
	margin-left: 1em;
	width: 95% !important;
}
.folder-nonclick-cloud {
	color: #000;
	height: 36px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0;
	line-height: 36px;
}
.cloud button, .cloud a {
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* alignment config */

.right-action-button, .right-action-button * {
	align-self: right;
	text-align: center;
	margin: 0 !important;
	float: right;
	font-size: 1.2em;
	/*text-align: right;*/
}

.center-vert {
	display: flex;
	align-self: center;
}

/* navbar */

.nav-bar {
	background-color: rgb(139, 195, 74);
	height: 32px;
	line-height: 32px;
	/* vertical-align: middle;*/ 
	/* overflow: hidden; */
}
.nav-bar p, .nav-bar a {
	display:inline-block;
	padding-left: 1em;	
	padding-right: 1em;
	height: 100%;
}
.nav-bar p {
	display: inline;
	padding-left: 2em;
}

/* colors / chips */

.category-color-0 { background-color: #66bb6a } /* geo */
.category-color-1 { background-color: #ffeb3b } /* atl */
.category-color-2 { background-color: #ef5350 } /* kombi */
.category-color-3 { background-color: #42a5f5 } /* anal */
.category-color-4 { background-color: #8d6e63 } /* inne */
.category-color-5 { background-color: #ab47bc } /* źródło */
.category-color-6 { background-color: #ff9800 } /* trudność */
.category-color-7 { background-color: #9e9e9e } /* user grupa */

.green-background {
	background-color: #c8e6c9;
}
.green-text {
	color: #66bb6a !important;
}
.red-text {
	color: #ef5350 !important;
	font-weight: bold !important;
}

.mdl-chip {
	/* background: rgba(158, 158, 158, .2); */
	background: rgb(236, 236, 236);
	/* 2dp */
	box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	padding-left: 0;
}
.category-chip {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	height: 16px;
	width: 16px;
	border-radius: 8px;
	margin-right: 4px;
	margin-left: 8px;
}
.chip-container {
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/* fixing vendor stuff */

.selectize-input {
	margin-bottom: 0.5em;
	min-height: 50px;
	line-height: 35px;
}
.mdl-chip {
	font-size: 13px;
	margin-right: 4px;
}
.mdl-layout__container {
	position: relative;
}
.mdl-list__item {
	padding-top: 0;
	padding-bottom: 0;
}
.selectize-input input {
	font-size: 18px;
	transform:translate3d(5px,5px,0)
}
.small-table-item, .small-table-item i {
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 30px;
	text-align: center !important;
	font-size: 1.2em;
	/* display: inline-block; */
}
.mdl-data-table {
	width: 100%;
}
.border-left {
	border-left: 1px solid #ddd;
}
.cloud dialog {
	margin: auto !important;
}
/*Fixing combined MDL stupidity and height: auto of document*/ 
.small-itemlist-space {
	height: 200px;
}
.itemlist-space {
	height: 370px;
}
